@import url(./_editing/task-list__item_editing.css);

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task-list__item > * {
  vertical-align: middle;
}