.task-list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

#completed-tasks .task-list__label {
  text-decoration: line-through;
  color: #888;
}